*~
p.c
*.out
_putchar.c
*main.c
0x04-more_functions_nested_loops*
0x05-pointers_arrays_strings*
0x06-pointers_arrays_strings*
0x07-pointers_arrays_strings*
0x08-recursion*
0x09-static_libraries*
0x0B-malloc_free*
0x0C-more_malloc_free*
0x0D-preprocessor*
0x0E-structures_typedef*
0x0F-function_pointers*
0x15-file_io*